:root {
  --default-bg-color: rgb(241, 205, 205);
  --div-width: 600px;
  --div-height: 150px;
  --div-margin: 40px;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.76);
}

#wrapper-carte {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#R {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: rgb(255, 127.5, 127.5);
}

#G {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: rgb(127.5, 255, 127.5);
}

#B {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

  background-color: rgb(127.5, 127.5, 255);
}

#carte {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  width: var(--div-width);
  height: var(--div-height); 
  margin: var(--div-margin);
}

#map-canvas {
  height: 100%;
  width: 100%;
  
  background-color: var(--default-bg-color);
}

#test-canvas {
  display: none;
  width: var(--div-width);
}

#sub-wrapper-generation {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, auto);

}

#sub-wrapper-export {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#button-checkpoint  {
  background-color: #66d366;
}

.curve-canvas {
  display: block;
  flex: 1;
  height: 100%;
  width: 100%;
}


.channel {
  display: flex;
  flex-direction: column;

  width: var(--div-width);
  height: var(--div-height); 
  margin: var(--div-margin);
}

.checkpoint {
  transform: translate(-50%, -100%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 9px solid rgb(250, 162, 0); 
}

.dot {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
}

.test {
  height: 3px;
  width: 3px;
  background-color: rgb(73, 212, 17);
  border-radius: 50%;
}